body{
	box-sizing: border-box;
}
.sections{
	color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.webdevelopment{
	background-color: greenyellow;
}
.python{
	background-color: purple;
}
.geography{
	background-color: brown;
}
.physics{
	background-color: grey
}